@mixin light-scheme {
  /* Framework color */
  --main-bg: #ffffff; /* Very light blue for the background */
  --mask-bg: #cce1f5; /* Soft blue for masks */
  --main-border-color: #18c9ff; /* Subtle blue-gray for borders */

  /* Common color */
  --text-color: #1e293b; /* Dark slate blue for text */
  --text-muted-color: #64748b; /* Muted blue-gray for secondary text */
  --text-muted-highlight-color: inherit;
  --heading-color: #0f172a; /* Deep blue for headings */
  --label-color: #334155; /* Mid-dark blue-gray for labels */
  --blockquote-border-color: #c3dfee; /* Soft blue for blockquote borders */
  --blockquote-text-color: #1e3a8a; /* Vibrant blue for blockquote text */
  --link-color: #2563eb; /* Bright blue for links */
  --link-underline-color: #cfe8fc; /* Soft underlines */
  --button-bg: #eff6ff; /* Light blue for buttons */
  --btn-border-color: #bfdbfe; /* Muted blue for button borders */
  --btn-backtotop-color: #1e40af; /* Dark blue for 'Back to Top' button */
  --btn-backtotop-border-color: #93c5fd; /* Light blue border */
  --checkbox-color: #93c5fd; /* Checkbox blue */
  --checkbox-checked-color: #6dffb9; /* Bright green when checked */
  --img-bg: radial-gradient(
    circle,
    #f0faff 0%,
    #dbeefe 100%
  );
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(248, 252, 255, 0) 0%,
    rgba(223, 242, 255, 1) 50%,
    rgba(248, 252, 255, 0) 100%
  );

  /* Sidebar */
  --site-title-color: #3e4964; /* Dark blue for titles */
  --site-subtitle-color: #525c6d; /* Dark slate blue */
  --sidebar-bg: #ddf2ff; /* Light blue for sidebar */
  --sidebar-border-color: #d1e7f3; /* Light blue-gray */
  --sidebar-muted-color: #475569; /* Muted blue-gray */
  --sidebar-active-color: #0f172a; /* Dark blue for active */
  --sidebar-hover-bg: rgba(191, 223, 255, 0.64); /* Soft hover effect */
  --sidebar-btn-bg: #eff6ff;
  --sidebar-btn-color: #334155;
  --avatar-border-color: #ffffff;

  /* Topbar */
  --topbar-bg: #ffffff;
  --topbar-text-color: #1e293b;
  --search-border-color: #bfdbfe;
  --search-icon-color: #93c5fd;
  --input-focus-border-color: #60a5fa;

  /* Home page */
  --post-list-text-color: #475569;
  --btn-patinator-text-color: #1d4ed8;
  --btn-paginator-hover-color: var(--sidebar-bg);

  /* Posts */
  --toc-highlight: #1e40af; /* Deep blue for table of contents */
  --toc-popup-border-color: #d1e7f3;
  --btn-share-color: #1e40af;
  --btn-share-hover-color: #2563eb;
  --card-bg: #ffffff;
  --card-hovor-bg: #d0ecff;
  --card-shadow: rgba(30, 41, 59, 0.263) 0 2px 6px 0,
    rgba(191, 219, 255, 0.15) 0 0 0 1px;
  --footnote-target-bg: #e0f7ff;
  --tb-odd-bg: #f5faff;
  --tb-border-color: #dbe9f5;
  --dash-color: #dbeafe;
  --kbd-wrap-color: #93c5fd;
  --kbd-text-color: var(--text-color);
  --kbd-bg-color: #eff6ff;
  --prompt-text-color: #0f172a;
  --prompt-tip-bg: rgba(147, 197, 253, 0.2);
  --prompt-tip-icon-color: #2563eb;
  --prompt-info-bg: #e0f2fe;
  --prompt-info-icon-color: #1d4ed8;
  --prompt-warning-bg: rgba(253, 224, 71, 0.2);
  --prompt-warning-icon-color: #d97706;
  --prompt-danger-bg: rgba(254, 202, 202, 0.56);
  --prompt-danger-icon-color: #b91c1c;

  /* Tags */
  --tag-border: #d1e7f3;
  --tag-shadow: var(--btn-border-color);
  --tag-hover: #e0f2fe;
  --search-tag-bg: #ffffff;

  /* Categories */
  --categories-border: rgba(30, 58, 138, 0.125);
  --categories-hover-bg: var(--btn-border-color);
  --categories-icon-hover-color: #1e293b;

  /* Archive */
  --timeline-color: rgba(32, 53, 75, 0.304);
  --timeline-node-bg: #93c5fd;
  --timeline-year-dot-color: #ffffff;

  [class^='prompt-'] {
    --link-underline-color: rgba(191, 219, 255, 1);
  }

  .dark {
    display: none;
  }
} /* light-scheme */
